<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Skiyo 后台管理工作平台 by Jessica</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css"/>
<script type="text/javascript" src="__PUBLIC__/Admin/js/js.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.js"></script>
</head>
<body>
<div id="top">  </div>
<form id="login" name="login" action="__SELF__" method="post">
  <div id="center">
    <div id="center_left"></div>
    <div id="center_middle">
      <div class="user">
        <label>用户名：
        <input type="text" name="user" id="user" />
        </label>
      </div>
      <div class="user">
        <label>密　码：
        <input type="password" name="pwd" id="pwd" />
        </label>
      </div>
      <div class="chknumber">
        <label>验证码：
        <input name="chknumber" type="text" id="chknumber" maxlength="4" class="chknumber_input" onkeyup="check_verify()"/>
        </label>
        <img src="{:U('captcha')}" id="safecode" onclick="this.src=this.src+'?'+Math.random()" id="safecode"/><span id="verifyresult"></span>
      </div>
    </div>
    <div id="center_middle_right"></div>
    <div id="center_submit">
      <div class="button"> <img src="__PUBLIC__/Admin/images/dl.gif" width="57" height="20" onclick="form_submit()"> </div>
      <div class="button"> <img src="__PUBLIC__/Admin/images/cz.gif" width="57" height="20" onclick="form_reset()"> </div>
    </div>
    <div id="center_right"></div>
  </div>
</form>
<div id="footer"></div>
</body>
</html>
<script type="text/javascript">
var allow_access =false;//是否允许form表单提交
  function check_verify(){
    var code = $('#chknumber').val();
    if (code.length==4) {
      // alert('yanzheng');
      $.ajax({
        // ajax去服务器校验
        url: '__CONTROLLER__/checkVerify',
        // type: 'default GET (Other values: POST)',
        dataType: 'json',
        data: {'code': code},
        success:function(msg){
        if (msg.flag==1) {
          allow_access = true;
          $('#verifyresult').html(msg.cont).css('color','green');
        }else{
          allow_access = false;
          $('#verifyresult').html(msg.cont).css('color','red');
        }
      }});
    }
  }

  function form_submit(){
    if(allow_access===true) {
      // alert('允许');
      // 触发事件执行
      $('#login').submit();
    }else{
      alert('验证码不正确');
    }
  }
</script>
